*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
body {
    background: url(https://www.makita-xgt.com/assets/images/makita/xgt.jpg);
    background-size: cover;
    background-position: center;
}

section {
    padding-top: 25vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 25vh;
    text-align: center;
}

article {
    background-color: #dfdfdf;
    display: inline-block;
    width: 20vw;
    margin: 20px;
    margin: 2vh 2vw;
    border-radius: 15px;
}

h2 {
    font-size: 19px;
    padding-top: 10px;
}

img {
    max-width: 20vw;
    max-height: 20vh;
    min-height: 100px;
    padding: 5px;
}

li {
    font-size: 1.25vw;
    padding: 5px 10px;
}

button {
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(37,150, 190);
    border: 0;
    border-radius: 15px;
}
